<%= render "shared/header" %>

<div class="gallery">
<% @photos.each do |f| %>
  <div class="gallery-contents">
 <%= link_to gallery_path(f.id) do %>
  <%= image_tag f.image_url, class: "sized" %>
  <div class="photo-date"><%= f.photo_date %></div>
  </div>
<% end %>
<% end %>
</div>