<%= render "shared/header" %>

<div class="show-main">
  <div class="show-photo">
    <%= image_tag @photo.image_url, class:"photo-size" %>
  </div>
    <div class="show-btn">
      <div class="destory">
        <%= link_to "削除", gallery_path(@photo.id), method: :delete, data: {confirm: '一度削除すると復旧はできません。 本当に削除しますか？'}, class:"photo-destroy" %> 
      </div>
  </div>
</div>