
.gallery{
  color: rgb(65, 58, 49);
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 5vh 10vw;
}
.photo-contents{
  margin: 20px;
  height: 300px;
  width: 200px;
}

.photo-link{
  text-decoration: none;
  
}
.sized {
  width: 100%;
  height: 80%;
  border: black solid 1px;
  display: inline-block;
	box-shadow: 10px 10px 10px -4px rgba(0,0,0,0.6);
	transition: .3s;
}
.sized:hover{
	box-shadow: 10px 10px 20px -4px rgba(0,0,0,0.6);
	transform: translateY(-4px);
}


.photo-date{
  display: block;
  color: gray;
  font-size: 20px;
}

.show-photo{
  margin: 5vh;
  display: flex;
  justify-content: center;
}
.photo-size{
  width: 80%;
  height: 80%;
  margin: 10px;
  border: solid 3px black;
  border-radius: 20px;
}
.show-btn{
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin: 20px;
}
.destroy{
  padding: 10px;
  text-decoration: none;
  color: aliceblue;
}

.form{
  margin:10vh 50px 0 0;
  display: flex;
  justify-content: flex-end;
}

.form-control{
  height: 30px;
  width: 10vw;
  background-color: #fff;
  color: grey;
  border-radius:5px;
  box-shadow: 10px 10px 10px -6px rgba(0,0,0,0.6);
}

.submit{
  padding: 8px;
  font-size: 15px;
}