.video{
  color: rgb(65, 58, 49);
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 50px;
}
.video-contents{
  margin: 20px;
  height: 400px;
  width: 200px;
}
.video-size{
  border: solid 1px black;
	box-shadow: 10px 10px 10px -4px rgba(0,0,0,0.6);
	transition: .3s;
}
.video-size:hover{
	box-shadow: 10px 10px 20px -4px rgba(0,0,0,0.6);
	border: none;
}

.show-main{
  text-align: center;
}

.photo-destroy{
  padding: 10px;
  background-color: cadetblue;
  text-decoration: none;
  color: aliceblue;
}

.message-form{
  display: flex;
  justify-content: center;
}
.message-content{
  display: block;
  margin: 10px;
}
.name{
  height: 20px;
  width: 10vw;
  padding: 5px;
  font-size: 15px;
}
.text{
  height: 20vh;
  width: 30vw;
  padding: 5px;
  font-size: 15px;
}
.send{
  height:30px;
  width: 10vw;
}
form{
  box-shadow: 10px 10px 10px -8px rgba(0,0,0,0.6);
  margin-bottom: 10vh;
}