.video{
  color: rgb(65, 58, 49);
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 10px;
}
.video-contents{
  margin: 20px;
  height: 300px;
  width: 200px;
}

.video-link{
  text-decoration: none;
  
}

.photo-date{
  display: block;
  color: gray;
  font-size: 20px;
}

.show-photo{
  margin: 5vh;
  display: flex;
  justify-content: center; 
}

.show-btn{
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin: 20px;
}
.photo-destroy{
  padding: 10px;
  background-color: cadetblue;
  text-decoration: none;
  color: aliceblue;
}