.video{
  color: rgb(65, 58, 49);
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 15vh;
  box-sizing:border-box;
}
.video-contents{
  margin: 20px;
  height: 400px;
  width: 200px;
}
.video-size{
  border: solid 1px black;
	box-shadow: 10px 10px 10px -4px rgba(0,0,0,0.6);
	transition: .3s;
}
.video-size:hover{
	box-shadow: 10px 10px 20px -4px rgba(0,0,0,0.6);
	/* transform: translateY(-4px); */
}

.show-main{
  text-align: center;
}

.video-show{
  height: 100%;
}

.photo-destroy{
  padding: 10px;
  background-color: #fff;
  text-decoration: none;
  color: #000;
  font-size: 15px;
}

.message-form{
  display: flex;
  justify-content: center;
}
.message-content{
  display: block;
  margin: 20px;
}
.name{
  height: 20px;
  width: 10vw;
  padding: 5px;
  font-size: 15px;
}
.text{
  height: 20vh;
  width: 30vw;
  padding: 5px;
  font-size: 15px;
}
.send{
  height:30px;
  width: 10vw;
  box-shadow: none;
}
