<%= render "shared/header" %>

<div class="video">
  <% @videos.each do |f| %>
    <div class="video-contents">
      <%= link_to video_path(f.id),class:"video-link" do %>
        <%= video_tag(f.image_url, size: "170x300", width:"300", controls: true) %>
      <% end %>
      <div class="photo-date">
        <%= f.photo_date %>
      </div>
    </div>
  <% end %>
</div>