<header>
<div class="header top">
<div class="header links">
  <li id='link-button'><%= link_to "Home", root_path , class: "link"%></li>
  <li><%= link_to "Gallery", gallerys_path , class: "link"%></li>
  <li><%= link_to "Video", videos_path , class: "link"%></li>
  </div>
</div>
</header>