<header>
  <div class="header top">
    <div class="header links">
      <li><%= link_to "Home", root_path , class: "link btn"%></li>
      <li><%= link_to "Photo", gallerys_path , class: "link btn"%></li>
      <li><%= link_to "Video", videos_path , class: "link btn"%></li>
    </div>
  </div>
</header>