<header>
  <div class="header links">
    <%= link_to "Home", root_path , class: "link"%>
    <%= link_to "Photo", "/photo" ,class: "link"%>
    <%= link_to "Video", "/video" , class: "link"%>
  </div>
</header>