<div class="form">
<%= search_form_for @q, url: video_search_path do |f| %>
<%= f.date_field :photo_date_gteq,
                  include_blank: true,
                  class: 'form-control'%> 〜
<%= f.date_field :photo_date_lteq_end_of_day,
                  include_blank: true,
                  class: 'form-control'%>
<%= f.submit 'Search', class: "submit btn" %>
<% end %>
</div>