
<%= render "shared/header" %>

<div class="main">
  <div class="bxslider">
    <%= image_tag "top_image1", class:"top_image" %>
    <%= image_tag "top_image2", class:"top_image" %>
    <%= image_tag "top_image3", class:"top_image" %>
  </div>
</div>