.all{
  border-radius: 5px;
  margin: 10vh 5vw 10vh 5vw;
  background-color: rgba(245, 245, 245, 0.486);
  padding-top: 3vh;
}

.error-message{
  color: red;
  font-size: 15px;
  text-align: left;
}
body:before{
  content:"";
  display:block;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  width:100%;
  height:100vh;
  background-image: url("main3.jpg");
  background-size: 100vh;
  /* background-attachment: fixed; */
  background-size:cover;
 }
header{
   background-color: black;
   border-radius: 20px;
   margin: 0 5vw;
   border: black solid 0.1px;
 }
footer{
  width: 100%;
  height: 30px;
  color: rgb(204, 204, 204);
  text-align: center;
  padding-bottom: 3vh;
}
 .scroll{
  position: relative;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.685);
  width: 60px;
  height: 60px;
  position: fixed;
  border: rgba(0, 0, 0, 0.685) solid 2px;
  bottom: 5vh;
  right: 3vw;
  cursor:pointer;
  transition: .3s;
  color: lightgray;
 }
.scroll-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  text-align: center;
  font-size: 25px;
}
.scroll:hover{
  border: black solid 2px;
  color:black;
  background-color: whitesmoke;
}
.scroll:active{
  background-color: rgba(0, 0, 0, 0.685);
  color: lightgray;
}
.btn{
  border: 2px solid #000;
  background-color: white;
  color:black;
  box-shadow: 7px 7px 10px -4px rgba(0,0,0,0.6);
  transition: .3s;
}
.btn:hover{
  color:white;
  background-color: black;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}
.link {
  box-sizing: border-box;
  font-size: 30px;
  text-decoration: none;
  color: whitesmoke;
  padding: 10px 10%;
  transition: .3s;
}
.link:hover{
  background-color: whitesmoke;
  color: black;
}
 
.main{
  display: flex;
  justify-content: center;
  box-sizing:border-box;
  padding:3% 5% 0 5%;
}


/* スライダー ここから */
.bx-wrapper{
  width: 70%;
  height: 80%;
}

.bxslider{
  height: 100%;
  width: 100%;
  position: relative;
}
.top_image{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* スライダー ここまで */


/* 投稿フォーム ここから */
.form{
  box-sizing:border-box;
  padding:10vh 5vw 0 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.post-form{
  display: flex;
  justify-content: center;
}
.form-content{
  box-shadow: 10px 10px 10px -8px rgba(0,0,0,0.6);
  border: rgba(0, 0, 0, 0.438) solid 0.3px;
  background-color: white;
  margin-bottom: 10vh;
}
.name{
  height: 20px;
  width: 10vw;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  border: rgba(0, 0, 0, 0.438) solid 0.3px;
}
.text{
  height: 20vh;
  width: 30vw;
  padding: 5px;
  font-size: 15px;
}
.send{
  height:30px;
  width: 10vw;
  box-shadow: none;
  cursor:pointer;
  border-radius: 5px;
}
/* 投稿フォーム ここまで */


/* メッセージ一覧 ここから */
.message{
  text-align: left;
  margin-bottom: 50px;
  display: inline-block;
}
.message-content{
  display: block;
  margin: 20px;
}
.contents{
  width: 500px;
  margin-top: 50px;
  padding:10px;
  border: rgba(0, 0, 0, 0.438) solid 0.3px;
  box-shadow: 10px 10px 10px -8px rgba(0,0,0,0.6);
  background-color: white;
}
.message-text{
  margin-bottom: 20px;
  color: rgb(50, 50, 50);
}
.message-name{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: gray;
  margin-left: 2%;
}
.message-delete{
  text-align: right;
  margin-right: 5%;
  font-size: 14px;
  color: gray;
}
/* メッセージ一覧 ここまで */


/* プロフィール ここから */
.profile-top{
  font-size: 25px;
  color: whitesmoke;
  text-align: center;
  background-color: black;
  padding:10px;
  border-radius: 20px;
  width: 80%;
  margin: 10% 10% 5% 10%;
}
.profile{
  width: 60%;
  padding: 0 20% 5% 20%;
}
.profile-content{
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(245, 245, 245, 0.90);
  box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.6);
}
.profile-QA{
  font-size: 16px;
  width: 50%;
  padding: 5%;
  color: rgb(50, 50, 50);
}
/* プロフィール ここまで */

/* スマホ表示時 */
@media screen and (max-width: 599px) {
  .all{
    border-radius: 5px;
    margin: 3vh 3vw 3vh 3vw;
    background-color: rgba(245, 245, 245, 0.486);
    padding: 5px 0 5vh 0;
  }
  header{
    margin: 0 0 0 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 0px;
  }
  footer{
    font-size: 12px;
  }
  .links{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .link {
    box-sizing: border-box;
    font-size: 20px;
    height: 100%;
    padding: 5%;
    background-color: black;
  }
  .profile{
    width: 90%;
    padding: 0 5% 5% 5%;
  }
  .profile-top{
    font-size: 16px;
    margin: 5% 5% 3% 5%;
  }
  .profile-content{
    justify-content: space-around;
  }
  p{
    font-size: 10px;
  }
  .form{
    padding:2vh 0 0 0;
    justify-content: center;
  }

  /* メッセージ */
  .message{
    text-align: left;
    margin-bottom: 5vh;
    display: inline-block;
    display: flex;
    justify-content: center;
  }
  .message-content{
    display: block;
    margin: 20px;
    display: flex;
    justify-content: center;
  }
  .contents{
    width: 85%;
    margin-top: 20px;
  }
  .message-text{
    margin-bottom: 10px;
    font-size: 14px;
  }
  .message-name{
    font-size: 12px;
    margin-left: 2%;
  }
  .message-delete{
    font-size: 12px;
  }
  /* メッセージ ここまで */


  .post-form{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .form-content{
    width: 90%;
    margin-bottom: 3vh;
  }
  .name{
    height: 15px;
    width: 40%;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    border: rgba(0, 0, 0, 0.438) solid 0.3px;
  }
  .text{
    height: 10vh;
    width: 80%;
    padding: 5px;
    font-size: 13px;
  }
  .send{
    height:30px;
    width: 20vw;
    box-shadow: none;
    cursor:pointer;
    border-radius: 5px;
    font-size: 12px;
  }
}