.form-control{
  height: 30px;
  width: 10vw;
  background-color: #fff;
  color: grey;
  border-radius:5px;
  box-shadow: 5px 6px 6px -4px rgba(0,0,0,0.6);
}

.submit{
  margin-left: 10px;
  padding: 8px;
  font-size: 15px;
  box-shadow: 5px 6px 6px -4px rgba(0,0,0,0.6);
  cursor:pointer;
}